<div>
  <div class="fx-row fx-gap-20 rome1">
    <span>Trésor</span>
    <span>{{ tresor }}</span>
    <span>Agitation sociale</span>
    <span>{{ agitationSociale }}</span>
  </div>
  <span>Armée</span>
  <div class="fx-row fx-gap-20 rome1">
    <span>Légions</span>
    <span>{{ legions.length }}</span>
    <span>Escadres</span>
    <span>{{ escadres.length }}</span>

  </div>
  <div class="fx-column">
    <span>Forum</span>
    <app-forum [forum]="forum"></app-forum>
    <span>Guerres actives</span>
    <span>Guerres non entreprises</span>
    <span>Guerres imminentes</span>
    <span>Guerres inactives</span>
    <span>Chefs ennemis</span>
    <span>Relève sénatoriale</span>
    <div *ngFor="let sen of releveSenatoriale" class="carte">
      <div>{{sen.nom}}</div>
      <div>Elo: {{sen.loyaute}} Inf: {{sen.influence}} Mil: {{sen.militaire}} Trésor: {{sen.tresor}}</div>
    </div>
    <span>Concessions détruites</span>
    <app-concession [concessions]="concessionsDetruites"></app-concession>
  </div>
